/******** HOME PAGE*********/
#home-search-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

#home-xs {
    .eve-panel {
        margin-bottom: 0px;
    }
}


.temperature-panel .panel-body {
    font-size: 25px;
    color: white;
    padding: 10px;
}

/***************************/