<div class="container" ng-controller="bookmarksCtrl">
    <!-- Plugin Bookmarks -->
    <div id="plugin-panel-bookmarks" class="panel panel-default">
        <div class="panel-heading">Bookmarks
            <button ng-click="editBookmarks()" type="button" class="btn btn-default btn-xs pull-right">
                <span class="glyphicon glyphicon-wrench"></span>
            </button>
            <button ng-click="switchBookmarkDisplay()" type="button" class="btn btn-default btn-xs pull-right">
                <span ng-show="bookmarksFolderDisplay" class="glyphicon glyphicon-folder-close"></span>
                <span ng-show="!bookmarksFolderDisplay" class="glyphicon glyphicon-list"></span>
            </button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body plugin-panel-body">
            <br />
            <div>
                <span ng-repeat="tag in selectedTags.tags" class="badge">
                    <a class="tag-link" href="" ng-click="removeSelectedTag(tag)">{{tag}}</a>
                </span>
            </div>
            <br />
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="bookmark in bookmarks">
                    <button type="button" class="btn btn-default btn-xs" ng-show="bookmarksEdition"
                    ng-click="deleteBookmark(bookmark)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <span ng-repeat="tag in bookmark.tags" class="badge">
                        <a class="bookmark-tag-link" href="" ng-click="selectTag(tag)">{{tag}}</a>
                    </span>
                    <a href="{{bookmark.url}}" target="_blank">{{bookmark.label}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="panel panel-default">
                <ol class="breadcrumb">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <li><a href="#">Home</a></li>
                    <li class="active">Library</li>
                </ol>
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-folder-close"></span>  Folder 1</li>
                    <li><span class="glyphicon glyphicon-folder-close"></span>  Folder 2</li>
                    <li><span class="glyphicon glyphicon-folder-close"></span>  Folder 3</li>
                    <li><span class="glyphicon glyphicon-folder-close"></span>  Folder 4</li>
                    <li><span class="glyphicon glyphicon-folder-close"></span>  Folder 5</li>
                    <li><span class="glyphicon glyphicon-file"></span>File 1</li>
                    <li><span class="glyphicon glyphicon-file"></span>File 2</li>
                    <li><span class="glyphicon glyphicon-file"></span>File 3</li>
                    <li><span class="glyphicon glyphicon-file"></span>File 4</li>
                </ul>
            </div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapseAddBookmark">Add a new bookmark</a>
        </div>
        <div id="collapseAddBookmark" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-inline" ng-submit="addBookmark()">
                    <div class="form-group">
                        <label class="sr-only" for="BookmarkLabelTextInput">Label</label>
                        <input id="BookmarkLabelTextInput" type="text" ng-model="bookmarkLabelText"
                        class="form-control" placeholder="label">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="BookmarkLinkTextInput">Label</label>
                        <input id="BookmarkLinkTextInput" type="text" ng-model="bookmarkLinkText"
                        class="form-control" placeholder="link">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="BookmarkTagsTextInput">Label</label>
                        <input id="BookmarkTagsTextInput" type="text" ng-model="bookmarkTagsText"
                        class="form-control" placeholder="tags">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-default" type="submit" value="Add" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>