/******** LOGIN FORM **********/
.login-form {

    .login-form-field {
        width: 95%;
        margin: auto;
        margin-top: 10px;
        color: $eve_login_form_input_color;
    }

    .login-form-field-input {
        @if $eve_login_form_is_colored {
            background-color: $eve_login_form_input_background_color;    
        }
        @else {
            @if $eve_login_form_is_transparent {
                background: rgba(0,0,0, $eve_login_form_transparency_level);
            }
        }

        border-radius: 0;
    }

    .login-form-username {
        padding-left: 5px;
    }

    .login-form-password {
        padding-left: 5px;
    }

    .login-form-button {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;

        .login-form-button-link {
            @if $eve_login_form_is_colored {
                background-color: $eve_login_form_button_background_color;    
            }
            @else {
                @if $eve_login_form_is_transparent {
                    background: rgba(0,0,0, $eve_login_form_button_transparency_level);
                }
            }

            color: $eve_login_form_button_color;
            border-color: $eve_login_form_button_border_color;

            &:hover {
                @if $eve_login_form_is_colored {
                    background-color: $eve_login_form_button_hover_background_color;
                    color: $eve_login_form_button_hover_color;    
                }
                @else {
                    @if $eve_login_form_is_transparent {
                        background: rgba(0,0,0, $eve_login_form_button_hover_transparency_level);
                    }
                }        
            }

        }



    }

}
/*****************************/